html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0 1rem;
}

.Advice {
    background-color: hsl(217, 19%, 24%);
    width: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

.heading {
    color: hsl(150, 100%, 66%);
    font-size: 18px;
    font-weight: 400;
}

.quote {
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    padding: 1rem 1.7rem 1rem 1.7rem;
}


.img-line{
    padding-bottom: 0.6rem;
}


.btn {
    border-radius: 5rem;
    height: 3.4rem;
    width: 3.4rem;
    background-color: hsl(150, 100%, 66%);
    border: solid hsl(150, 100%, 66%) 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid hsl(150, 100%, 66%) 0;
    background: hsl(150, 100%, 66%);
    border-radius: 5rem;
    box-shadow: 1px 1px 20px 0 hsl(150, 100%, 66%);;
 }

 @media only screen and (max-width: 1024px) {
     .Advice{
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        width: 23rem;
        padding: 0.8rem;
        border-radius: 1rem;
        font-size: 22px;
     }
 }
